#---------------------
# SYSTEM
#---------------------
alias ip='curl icanhazip.com'
alias aliases='vim ~/dotfiles/.aliases'
alias load='source ~/dotfiles/.aliases'
alias v='vim'
alias hg='history | grep'
alias yt='youtube-dl -o "~/Movies/%(title)s.%(ext)s"'
alias zel='zellij'
alias za='zellij a'
alias lg='lazygit'

weather() {
    curl http://wttr.in/$1
}
